
.landing-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 50%;
    height: 400px;
    position: relative;
    z-index: 1;
  }
  .kwizzard{
    padding-bottom: 10px;
    padding-left: 40px;
    height:200px;
    box-sizing: border-box;
}

  .player-input-wrapper{
    width: 250px;
  }
  
  .logo-host{
    position: relative;
    z-index: 1;
  }

  .input-user{
    border: .125rem solid #ccc;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #333;
    text-align: center;
    font-size: 20px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border linear .2s,box-shadow linear .2s;
    font-family: montserrat,"helvetica neue",helvetica,arial,sans-serif;
    font-weight: 700;  
    margin-bottom: 20px;
    box-sizing: border-box;
  }

  .btn-enter{
    display: block;
    font-family: montserrat,"helvetica neue",helvetica,arial,sans-serif;
    border-radius: 2px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #333;
    background-image: linear-gradient(to bottom,#333,#333);
    background-repeat: repeat-x;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    background-position: 0;
    width: 100%;
    height: 50px;
    font-weight: 700;
    font-size: 20px;
    position: relative;
    z-index: 100;
  }

  .btn-host{
    display: block;
    text-align: center;
    padding-top: 12px;
    border-radius: 2px;
    background-color: #333;
    background-image: linear-gradient(to bottom,#333,#333);
    background-repeat: repeat-x;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    background-position: 0;
    width: 250px;
    height: 50px;
    box-sizing: border-box;
  }
  #atag{
    font-family: montserrat,"helvetica neue",helvetica,arial,sans-serif;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
  }
  
  .logo{
    width: 300px;
    margin-top: 100px;
  }

  
  @media(min-width:700px){
    .landing-wrapper{
        width:100%;
        justify-content: center;
    }
    
    .logo-container{
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .kwizzard{
      height: 300px;
      padding-left: 0%;
      z-index: 100;
    }
  
  }