.player-container{
    display: grid;
    grid-template-rows: 60px 1fr 60px;
    font-family: montserrat,"helvetica neue",helvetica,arial,sans-serif;
}
.answer-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .5em;
    padding: 1em;
    grid-auto-rows: minmax(18em, auto);
}

/* shapes------------------------------------ */
.q1{
    background-color: #e91b1b;
    text-align: center;
    border-radius: 4px;
}

.q2{
    background-color: #1b48e9;
    text-align: center;
    border-radius: 4px;
}

.q3{
    background-color: #e9c71b;
    text-align: center;
    border-radius: 4px;
}

.q4{
    background-color: #098626;
    text-align: center;
    border-radius: 4px;
}

.q-blank{
    box-shadow:  0 4px 6px 1px rgba(136, 136, 136, 0.062);
    border-radius: 4px;
}

.shape{
    width: 140px;
    padding-top: 75px;
}

.shape-question{
    width: 80%;
    float: left;
    padding-top: 24%;
}
/* shapes------------------------------------ */



/* Player-Question-Over---------------------- */
.answer{
    width: 100vw;
    height: 80vh;
    margin: 0px 0px 20px 0px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 40%;
    box-sizing: border-box;
}

.correct{
    background-color: #6CBE45;
}

.incorrect{
    background-color: #EF3D5B;
}

.answer-indicator{
    width: 100vw;
    font-family: BPreplay,sans-serif;
    font-style: italic;
    font-size: 2.5rem;
    text-rendering: optimizeLegibility;
    line-height: normal;
    margin: 0;
    text-transform: none;
    text-shadow: none;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    display: block;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    padding-top: 40%;
}
/* Player-Question-Over---------------------- */


 .answer-container p{
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  font-size: 100px;
}

.status-bar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 3.125rem;
    background: #fff;
    border: 0 solid rgba(0,0,0,.15);
    border-width: 0 0 .1875rem;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 2.625;
    color: #333;
}
.player-info{
    margin: 0;
    font-weight: 700;
    font-size: 1.125rem;
    color: #333;
    padding-left: 1em;
  }
  
#pin{
    padding-top: .5em;
}

.status-bar-score{
    overflow: hidden;
    min-width: 5rem;
    margin: 0 1em 1em;
    background: #333;
    border-radius: .1875rem;
    font-size: 1rem;
    line-height: 1.875;
    text-align: center;
    color: #fff;
    padding-top: 6px;
    box-sizing: border-box;
}

.status-bar-hidden{
    overflow: hidden;
    min-width: 5rem;
    margin: 0 1em 1em;
    background: #333;
    border-radius: .1875rem;
    font-size: 1rem;
    line-height: 1.875;
    text-align: center;
    color:#333;
    padding-top: 6px;
    box-sizing: border-box;
}

.pin{
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 100px;
    color: #fff;
    font-family: montserrat,"helvetica neue",helvetica,arial,sans-serif;
    font-weight: 700;
    padding-top: 100px;
}

.player-name{
    width: 100%;
    text-align: center;
    font-size: 60px;
    color: #fff;
    font-family: montserrat,"helvetica neue",helvetica,arial,sans-serif;
    font-weight: 700;
}

.btn-players{
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 200px;
}

#player-join{
    color: #fff;
   font-size: 24px;
   padding-top: 6%;
   font-family: montserrat,"helvetica neue",helvetica,arial,sans-serif;
}
#player-pin{
    color: #fff;
   font-size: 24px;
   font-family: montserrat,"helvetica neue",helvetica,arial,sans-serif;
}

/* QUESTIONS-------------------------------------- */
.question{
    padding: 16px;
}

.questions-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.questions-grid{
    display: grid;
    width: 95vw;
    grid-template-columns: 1fr 1fr;
    grid-gap: .5em;
    padding: 1em;
    grid-template-rows: 1fr 1fr;
}

.shape-container{
    width: 75px;
}


.question-over-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.center{
    width: 100vw;
    display: flex;
    justify-content: center;
}
/* QUESTIONS-------------------------------------- */


/*GAME OVER--------------------------------------*/

.game-over {
    text-align: center;
    color: #fff;
    font-family: montserrat,"helvetica neue",helvetica,arial,sans-serif;
}

.btn-newGame{
    display: block;
    font-family: montserrat,"helvetica neue",helvetica,arial,sans-serif;
    border-radius: 2px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #333;
    background-image: linear-gradient(to bottom,#333,#333);
    background-repeat: repeat-x;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    background-position: 0;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 20px;
    position: relative;
    z-index: 100;
}

.leaderBoard {
    font-size: 42px;
}

.leaderBoard-title {
    font-size: 56px;
    font-weight: 900;
}

/*GAME OVER---------------------------------------*/



.timer{
    font-size: 40px;
    font-family: montserrat,"helvetica neue",helvetica,arial,sans-serif;
    animation-name: timer-color;
    animation-duration: 20s;
}

@keyframes timer-color{
    0% {  color: #202020;}
    70% {  color: #202020;
        transform: scale(1)}
    100% {  color: #d30000;
            transform: scale(1.1)
            }
}






/* load animation--------------------------- */
.waiting-for-results{
    width: 100vw;
    height: 80vh;
    margin: 0px 0px 20px 0px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 40%;
    box-sizing: border-box;
    background-color: #7E56A4;
    animation-name: color;
    animation-duration: 10s;
    animation-iteration-count: infinite; 
    animation-timing-function: linear; 
}

.load-circle{
    width: 100vw;
    height: 30%;
    animation: load-spin 1050ms;
    animation-delay: 500ms;
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out;
}

#too-fast{
    width: 70%;
    font-size: 1.5rem;
}

@keyframes load-spin{
    0%   {transform: rotate(0deg)}
    75% {transform: rotate(360deg)}
    100% {transform: rotate(360deg)}
}
/* load animation--------------------------- */

@media(min-width: 700px ){
    .diamond{
        width: 16vw;
        margin-top: 56px;
    }
    .q{
        height: 400px;
         box-sizing: border-box;
         text-align: center;
         padding-top: 24px;
     }
     .shape{
        width: 20vw;
        margin-top: 24px;
     }
 }
