.new-question-wrapper{
    position: relative; 
    width: 100vw;
    height:100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(9, 130, 201);
    font-family: montserrat,"helvetica neue",helvetica,arial,sans-serif;
    font-weight: 700; 
}

.answers-wrapper{
    position: relative;
    margin-top: 100px;
    width: 55vw;
    height: 300px;
    justify-content: center;
    display: flex;
    background-color: rgb(9, 130, 201);
}

.answers{
   height: 200px;
   width: 100vw;
   text-align: center;
}

.new-q{
    width: 100vw;
    text-align: center
}

.correct-wrapper{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.next{
    width: 100vw;
    justify-content: center;
    display: flex;
    flex-wrap: wrap
}