.btn-done-div{
    width: 100vw;
    float: right;
    padding: 20px;
}

.btn-done{
    float: right;
    margin: 0;
}

.mapped-questions{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;  
}

.toggle-container{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    height: 400px
}

