.component-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(18, 134, 134);
  animation-name: color;
  animation-duration: 10s;
  animation-iteration-count: infinite; 
  animation-timing-function: linear;
}


a{
  text-decoration: none;
}

@keyframes color{
  0%{
    background-color: #00d0ff;
  }
  25%{
    background-color: #e70dbf;
  }
  50%{
    background-color: #ec780b;
  }
  75%{
    background-color: #30d62d;
  }
  100%{
    background-color: #00d0ff;
  }
}


@media(min-width:700px){
  .component-container{
    justify-content: center;
  }
 }
 