.component-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(18, 134, 134);

}


@media(min-width:700px){
 .component-container{
   justify-content: center;
 }

}